* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans 3', sans-serif;
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line .line1 {
    padding: 2px 0;
    border-top: 0.1px solid #ff305b;
    width: 100px;
}

.line #line2 {
    width: 200px;
}

#line3 {
    padding-bottom: 20px;
}

.hero {
    text-align: center;
    background-image: url(../img/hero\ img.jpg);
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
}

.caption {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.8);
    padding-top: 300px;
}

.hero h3 {
    color: white;
    font-size: 24px;
}

.hero h1 {
    color: #ff305b;
    font-size: 70px;
    font-weight: bold;

}

.hero p {
    color: white;
    font-size: 26px;
    font-family: sans-serif;
}

.nav {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 10;
}

.nav .logo {
    float: left;
    width: 30%;
    padding-top: 15px;
    text-align: center;
}

.nav .items {
    float: left;
    width: 70%;
    text-align: center;
    padding-top: 15px;
}

.nav .items a {
    text-decoration: none;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 300;
    color: white;
    transition: color 1s;
}

.nav .logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    color: #ff305b;
}

.nav .items a:hover {
    color: #ff305b;
}

.nav .logo {
    padding-top: 10px;
}

.clear-fix {
    clear: both;
}

.about {
    margin-top: 20px;
    margin-bottom: 100px;
}

.about .image .border {
    width: 50%;
    border: 9px solid rgb(110, 110, 110);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    top: 20px;
    left: 249px;

}

.about .image .border img {
    visibility: hidden;
}

.about .image {
    float: left;
    width: 50%;
    position: relative;
}

.about .image .img {
    width: 50%;
    position: absolute;
    z-index: 5;
    top: 40px;
    right: 100px;
    border-radius: 5px;
    overflow: hidden;
}

.about .image img {
    width: 100%;
    display: block;
}

.about .image .img .cover {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(100%);
    transition: transform 0.5s ease;
    text-align: center;
}

.about .image .img .cover i {
    padding: 0 10px;
    color: white;
    font-size: 20px;
    transition: color 0.5s;
}

.about .image .img .cover .center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    width: 50%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.about .image .img:hover .cover {
    transform: translateY(0%);
}

.about .image .img .cover i:hover {
    color: #ff305b;
    cursor: pointer;
}

.about .info {
    width: 50%;
    float: left;
    margin-top: 50px;
    padding: 0 10px;
}

.info h3 {
    font-size: 34px;
    margin-bottom: 10px;
}

.info p {
    font-size: 18px;

}

.row .row1 ul {
    width: 50%;
    float: left;
    list-style: none;
}

.row .row2 ul {
    width: 50%;
    float: left;
    list-style: none;
}

.row .row2 li {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
}

.row .row1 li {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
}

.row .row2 li span {
    color: #555555;
}

.row .row1 li span {
    color: #555555;
}

.row button {
    padding: 15px 20px;
    margin: 20px 5px;
    border: none;
    background-color: #ff305b;
    font-size: 16px;
    border-radius: 4px;
    transition: 0.5s;
    color: white;
}

.row button:hover {
    background-color: #ff0033;
    cursor: pointer;
    color: white;
}

.row button i {
    padding: 0 1px;
}

.services {
    background-color: #f1f1f1;
    width: 100%;
    text-align: center;
}

.service-item {
    width: 100%;
    float: left;
    padding: 20px 10px;
    transition: all 0.5s;
}

.service-item img {
    width: 40px;
    transition: transform 0.5s;
}

.services h2 {
    font-size: 40px;
    color: #333;
}

.service-item h3 {
    padding: 8px 0px;
    font-size: 24px;
    color: #333;
}

.service-item p {
    color: #555555;
}

.services .container {
    width: 80%;
    margin: 40px auto;
    padding: 50px 0;
}

.service-item:hover {
    background-color: white;
    box-shadow: 0 0 15px 10px rgba(136, 136, 136, 0.2);
}

.service-item:hover img {
    transform: scale(1.2, 1.2);
}

.portfolio {
    text-align: center;
    margin: 100px 0;
    width: 100%;
}

.portfolio h2 {
    font-size: 40px;
    color: #333;
}

.portfolio .item {
    width: 100%;
    position: relative;
    border: white 20px solid;
    float: left;
}

.portfolio .item img {
    width: 100%;
    display: block;
}

.portfolio .item .caption2 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    color: #ff305b;
    opacity: 0;
    transition: opacity 0.5s;
    cursor: pointer;
}

.portfolio .item:hover .caption2 {
    opacity: 1;
}

.portfolio .container {
    width: 80%;
    margin: 20px auto;
    padding: 50px 0;
    padding-bottom: 20px;
}

.portfolio .container .item .caption2 i {
    font-size: 25px;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
}

.facts {
    width: 100%;
    background-color: #f1f1f1;
}

.facts .container {
    width: 80%;
    margin: 20px auto;
    padding: 50px 0;
}

.facts .fact {
    float: left;
    width: 100%;
    text-align: center;
}

.facts .fact i {
    font-size: 30px;
    color: #ff305b;
    padding: 10px 0;
}

.facts .fact h3 {
    font-size: 26px;
}

.facts .fact p {
    font-size: 16px;
    color: #555555;
}

.feedback {
    width: 100%;
    position: relative;
    padding: 0 20px ;
}

.feedback .container {
    width: 100%;
    background-color: #f1f1f1;
    margin: 10px auto;
    padding: 20px;
    padding-left: 40px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.feedback h2 {
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    color: #333;
}

.feedback .item .img {
    width: 100%;
    float: left;
    padding-top: 30px;
}

.feedback .item .info {
    padding: 0 10px;
    width: 90%;
    float: left;
}

.feedback .item img {
    border-radius: 50%;
    width: 100px;
    z-index: 10;
    position: relative;
}

.feedback .item .info h3 {
    font-size: 26px;
    color: #333;
    padding-top: 20px;
}

.feedback .item .info span {
    color: #555555;
}

.feedback .item .info p {
    color: #555555;
    padding: 10px 0;
    font-size: 16px;
    font-style: italic;
}

.feedback .item .info .rate {
    color: #f1c30d;
    padding-bottom: 20px;
}

.feedback .container::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 300px;
    transform: rotate(45deg);
    background-color: #ff305b;
    top: -150px;
    /* to see where it is */
    left: -70px;
    z-index: 5;
}

.blog {
    width: 100%;
    background-color: #f1f1f1;
    margin: 50px 0;
}

.blog h2 {
    text-align: center;
    color: #333;
    font-size: 40px;
}

.blog .container {
    width: 80%;
    margin: 20px auto;
}

.blog .item {
    width: 100%;
    float: left;
    background-color: white;
    border: 10px solid #f1f1f1;
    margin-bottom: 50px;
}

.blog .item img {
    width: 100%;
    display: block;
}

.blog .item p {
    font-size: 16;
    color: #555555;
    padding: 10px 15px;
}

.blog .item h3 {
    font-size: 24px;
    color: #333;
    padding-left: 15px;
    transition: color 0.5s;
}

.blog .item a {
    text-decoration: none;
    color: #555555;
    padding: 10px 15px;
    transition: color 0.5s;
}

.blog .item h3:hover {
    color: #ff305b;
    cursor: pointer;
}

.blog .item a:hover {
    color: #ff305b;
}

.contact {
    width: 100%;
    margin: 20px 0;
}

.contact .container h2 {
    font-size: 40px;
    color: #333;
    text-align: center;
}

.contact .container {
    width: 60%;
    margin: 20px auto;
}

.contact .container .full-name .name {
    float: left;
    width: 50%;
    padding: 20px 0;
    padding-right: 5px;
}

.contact .container .full-name .email {
    float: left;
    width: 50%;
    padding: 20px 0;
    padding-left: 5px;
}

.contact .container .full-name input {
    width: 100%;
    height: 40px;
    border-radius: 1px;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 4px 8px;
}

.contact .container .subject input {
    width: 100%;
    height: 40px;
    padding: 4px 8px;
    border: 1px solid #ccc;
}

.contact .container .subject {
    padding-bottom: 10px;
}

.contact .container .message {
    width: 100%;
    padding-top: 10px;
}

.contact .container .message textarea {
    width: 100%;
    padding: 4px 8px;
    border: 1px solid #ccc;
}

.contact .container button {
    padding: 15px 20px;
    margin: 20px 5px;
    border: none;
    background-color: #ff305b;
    font-size: 16px;
    border-radius: 4px;
    transition: 0.5s;
    color: white;
}

.contact .container button:hover {
    background-color: #ff0033;
    cursor: pointer;
    color: white;
}

@media (min-width:640px) {
    .blog .item {
        width: 100%;
    }

    .service-item {
        width: 100%;
    }

    .portfolio .item {
        width: 100%;
    }

    .facts .fact {
        width: 100%;
    }
    .feedback{
        padding: 20px 20px;
    }

    .feedback .container {
        width: 100%;
    }

    .feedback .item .img {
        width: 100%;
        float: left;
        padding-top: 30px;
    }

    .feedback .item .info {
        padding: 0 10px;
        width: 90%;
        float: left;
    }
}

@media (min-width:768px) {
    .blog .item {
        width: 50%;
    }

    .service-item {
        width: 50%;
    }

    .portfolio .item {
        width: 50%;
    }

    .facts .fact {
        width: 50%;
    }
    .feedback{
        padding: 0px 50px;
    }

    .feedback .container {
        width: 100%;
        
    }

    .feedback .item .img {
        width: 20%;
        float: left;
        padding-top: 30px;
    }
    .feedback .item .info {
    padding: 0 20px;
    width: 80%;
    float: left;
}

}

@media (min-width:1025px) {
    .blog .item {
        width: 33.333%;
    }

    .service-item {
        width: 33.333%;
    }

    .portfolio .item {
        width: 33.33%;
    }

    .facts .fact {
        width: 33.33%;
    }
    .feedback{
        padding: 0 100px ;
    }

    .feedback .container {
        width: 80%;
    }

    .feedback .item .img {
        width: 10%;
        float: left;
        padding-top: 30px;
    }
    .feedback .item .info {
    padding: 0 60px;
    width: 90%;
    float: left;
}


}

@media (min-width:1280px) {
    .blog .item {
        width: 33.33%;
    }

    .service-item {
        width: 25%;
    }

    .portfolio .item {
        width: 33.33%;
    }

    .facts .fact {
        width: 25%;
    }
    .feedback{
        padding: 0 200px ;
    }

    .feedback .container {
        width: 70%;
    }

    .feedback .item .img {
        width: 10%;
        float: left;
        padding-top: 30px;
    }
    .feedback .item .info {
    padding: 0 60px;
    width: 90%;
    float: left;
}
}